.root {
  height: 100%;
  overflow: scroll;
}

@media all and(max-width: 600px) {
  .root {
    width: 100%;
  }
}

@media all and(min-width: 601px) {
  .root {
    width: calc(100% - 256px);
  }
}

.table {
  height: 100%;
}

.headCell {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  text-align: center;
  padding: 0;
  width: 96px;
}

.headFirstColumn {
  left: 0;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 12px 32px 12px 20px !important;
}

.bodyFirstColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
  padding: 12px 32px 12px 20px !important;
}