.root {
  height: 100%;
  overflow: scroll;
}

@media all and(max-width: 600px) {
  .root {
    width: 100%;
  }
}

@media all and(min-width: 601px) {
  .root {
    width: calc(100% - 230px);
  }
}

.table {
  height: 100%;
}

.headCell {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  text-align: center !important;
  vertical-align: middle !important;
  padding: 0 !important;
  width: 96px;
  border-right: 1px solid #c9c9c9;
}

.headFirstColumn {
  left: 0;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 12px 32px 12px 20px !important;
  box-shadow: 1px 0 #c9c9c9;
}

.bodyFirstColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
  padding: 12px 32px 12px 20px !important;
  box-shadow: 1px 0 #c9c9c9;
}