.iconButton {
  margin-top: 4px;
  float: right !important;
  padding: 6px !important;
  position: 'absolute';
  top: 0;
  right: 0;
}

.moveVertIcon {
  font-size: 14px !important;
}

.screenName {
  padding-top: 6px;
  font-size: 12px;
  font-weight: 600;
}

.contentText {
  line-height: 140%;
  margin: 8px 8px 16px 8px;
  font-size: 12px;
}