.bodyCell {
  min-width: 180px !important;
  max-width: 180px !important;
  height: 220px;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}

.activeBodyCell {
  min-width: 180px !important;
  max-width: 180px !important;
  height: 300px;
  position: relative;
}

.cellText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 135%;
  position: absolute;
  margin-right: 20px;
}

.repliesText {
  margin: 4px 0 0 6px;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  margin-right: 20px;
}

.newPostCell {
  &:hover {
    cursor: pointer;
    background-color: #e9e9e9;
  }
}

.button {
  color: black !important;
}

.button svg {
  color: black !important;
}