.bodyCell {
  min-width: 104px;
  max-width: 104px;
  height: 120px;
  padding: 12px 20px !important;
  word-break: break-word;
  vertical-align: top !important;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: #efefef;
  }

  border-right: 1px solid #c9c9c9;
}

.activeBodyCell {
  min-width: 190px;
  max-width: 190px;
  height: 300px;
  overflow-y: scroll;
  word-break: break-word;
  position: relative;
  overflow: hidden;
}

.cellText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 135%;
  position: absolute;
  margin-right: 20px;
}

.repliesText {
  margin: 4px 0 0 6px;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  margin-right: 20px;
}

.button {
  color: black !important;
}

.button svg {
  color: black !important;
}