.bodyCell {
  min-width: 100px;
  max-width: 100px;
  height: 200px;
  position: relative;
}

.activeBodyCell {
  min-width: 100px;
  max-width: 100px;
  height: 300px;
  position: relative;
}

.cellText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 135%;
  position: absolute;
  margin-right: 20px;
}

.repliesText {
  margin: 4px 0 0 6px;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  margin-right: 20px;
}

.button {
  color: black !important;
}

.button svg {
  color: black !important;
}