.reply {
  padding: 16px;
  border-bottom: 1px solid #808080;

  .reply-contents {
    overflow: hidden;

    .reply-contents-avatar {
      width: 32px;
      height: 32px;
      float: left;
      margin-right: 16px;
      border-radius: 6px;
    }

    .reply-text {
      float: right;
      width: calc(100% - 32px - 16px);

      .reply-name {
        margin: 0 0 12px 0;
        font-size: 14px;
      }

      .reply-paragraph {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}