.page {
  width: 100%;
  text-align: center;
  align-items: center;
}

.container {
  padding: 36px 5%;
  margin: 120px auto;
  max-width: 260px;
  border: 3px solid #262e3a;
  border-radius: 12px;
  position: relative;
}

.header {
  text-align: center;
  font-size: 32px;
  background-color: #ffffff;
  margin-bottom: 28px;
}

.icon {
  font-size: 40px !important;
}

.signinButton {
  padding: 8px 20px !important;
  background-color: #ffffff !important;

  &:hover {
    background-color: #f5f5f5 !important;
  }
}

.googleLogo {
  width: 30px;
  height: 30px;
}

.text {
  margin-left: 10px;
}