.userNameCell {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
  padding: 12px 22px 12px 14px !important;
  box-shadow: 1px 0 #c9c9c9;
}

.emojiList {
  margin-top: 12px;
} 

.emoji {
  margin-bottom: 6px;
}