.typography {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.listItemIcon {
  margin-right: 12px !important;
}

.listItemText {
  padding: 0 !important;
}

.icon {
  font-size: 20px !important;
}