.listItem {
  padding: 12px 20px;
  height: 64px;
}

.listItemIcon {
  margin-right: 12px;
}

.icon {
  font-size: 36px !important;
  color: white;
}

.listItemText {
  padding: 0 !important;
}

.typography {
  font-size: 19px !important;
  font-weight: 500 !important;
  color: white !important;
}