.user-activities {
  .user-activity-list-item {
    padding: 8px 16px;

    .user-activity-avatar-container {
      width: 32px;
      height: 32px;
    }

    .user-activity-text {
      padding: 0 8px !important;
      font-size: 13px !important;
      flex: none;
    }

    .user-activity-status {
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      margin-top: 8px;
    }

    .logged-in {
      background-color: #8bc34a;
    }
  }
}