.typography {
  font-size: 14px !important;
  font-weight: 500 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.activity {
  margin-left: 8px !important;
  background-color: green;
  border-radius: 8px !important;
  width: 8px !important;
  height: 8px !important;
}