.typography {
  font-size: 14px !important;
  font-weight: 300 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listItemText {
  padding: 0 8px !important;
}

.activity {
  background-color: #9fdd49 !important;
  border-radius: 8px !important;
  width: 8px !important;
  height: 8px !important;
}