.success {
  background-color: #007a5a !important;
  color: #ffffff !important;
}

.info {}

.warning {}

.danger {
  background-color: #e01e5a !important;
  color: #ffffff !important;
}

.plane {
  background-color: #e5e5e5 !important;
  color: #101010 !important;
}

.modalButton {
  padding: 4px 6px !important;
  font-size: 13px !important;
  margin: 0 6px !important;
}