.card {
  position: absolute;
  height: 300px;
  width: calc(100% - 24px);
  top: 0;
  background-color: white;
  overflow-y: scroll;
  padding: 0 12px;
}

.iconButton {
  margin-top: 4px;
  float: right !important;
  padding: 6px !important;
  position: 'absolute';
  top: 0;
  right: 4px;
}

.closeIcon {
  font-size: 14px !important;
}

.cardHeader {
  position: 'relative';
  padding-top: 16px;
  // height: 30px;
  // width: 100%;
  // border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.cardBody {
  padding-bottom: 16px;
}