.article {
  padding: 8px 12px !important;
  width: inherit;
  height: 100%;
  overflow-y: scroll;
  word-break: break-word;
  position: relative;
}

.repliesBorder {
  width: calc(100% - 8px);
  border-top: 1px solid #c0c0c0;
  position: relative;
  margin: 16px 4px;
}

.replies {
  position: absolute;
  top: -7px;
  background-color: white;
  color: #c0c0c0;
  padding-right: 10px;
  font-size: 12px;
}

.success {
  background-color: #007a5a !important;
  color: #ffffff !important;
}

.info {}

.warning {}

.danger {
  background-color: #e01e5a !important;
  color: #ffffff !important;
}

.plane {
  background-color: #e5e5e5 !important;
  color: #101010 !important;
}