.diary-post {
  padding: 16px;
  border-bottom: 1px solid #808080;

  .diary-post-name {
    overflow: hidden;
    span {
      margin: 0 0 12px 0;
      font-size: 14px;
    }
    .diary-post-edit-button {
      float: right;
      min-width: 24px;
      height: 24px;
      padding: 0;
      span {
        margin-bottom: 0;
      }
    }
  }

  .diary-post-contents {
    overflow: hidden;

    .post-contents-avatar {
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 16px;
      border-radius: 6px;
    }

    p {
      font-size: 14px;
      margin: 0;
      display: block;
      float: right;
      width: calc(100% - 48px - 16px);
    }
  }

  .diary-post-reaction {
    margin-top: 12px;
    width: 100%;
    overflow: hidden;

    .diary-post-reply {
      margin-top: 12px;
      overflow: hidden;

      * {
        display: block;
      }

      .diary-post-repliers {
        display: inline-flex;
        flex-direction: row-reverse;
        float: left;
        max-width: 108px;

        .post-replier {
          width: 28px;
          height: 28px;
          margin-left: -8px;
        }
      }

      .post-reply-link {
        float: left;
        margin: 10px 0 0 8px;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .diary-post {

    .diary-post-reaction {

      .reaction-button {
        float: left;
        width: calc(100% - 108px - 16px - 80px - 8px);
        margin-top: 4px;
      }

      .diary-post-reply {
        float: right;
        margin-top: 0;

        .diary-post-repliers {
          margin-left: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .diary-post {

    .diary-post-reaction {

      .reaction-button {
        width: 100%;
        float: none;
        margin-top: 0;
      }

      .diary-post-reply {
        float: none;
        margin-top: 12px;
        width: 100%;

        .diary-post-repliers {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .diary-post {

    .diary-post-reaction {

      .reaction-button {
        float: left;
        width: calc(100% - 108px - 16px - 80px - 8px);
        margin-top: 4px;
      }

      .diary-post-reply {
        float: right;
        margin-top: 0;
        width: auto;

        .diary-post-repliers {
          margin-left: 16px;
        }
      }
    }
  }
}