.inputHead {
  text-align: left !important;
  font-weight: 500;
  font-size: 14px;
}

.inputField textarea {
  font-size: 13px !important;
}

.success {
  background-color: #007a5a !important;
  color: #ffffff !important;
}

.info {}

.warning {}

.danger {}

.plane {
  background-color: #e5e5e5 !important;
  color: #101010 !important;
}

.modalButton {
  padding: 4px 6px !important;
  font-size: 13px !important;
  margin: 0 6px !important;
}

.formActions {
  margin-top: 8px;
}